<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kim.section.mapper.EmpMapper">
    <resultMap id="empResultMap" type="com.kim.section.dto.EmployeeDTO">
        <id property ="empId" column="emp_id"/>
        <result property="name" column="emp_name"/>
        <result property="jobCode" column="job_code"/>
        <result property="no" column="emp_no"/>
        <result property="salary" column="salary"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="deptCode" column="dept_code"/>
        <result property="bonus" column="bonus"/>
        <result property="salLevel" column="sal_level"/>
        <result property="managerId" column="manager_id"/>
        <result property="hireDate" column="hire_date"/>
        <result property="entDate" column="ent_date"/>
        <result property="entYn" column="ent_yn"/>

    </resultMap>
    <select id="selectAllEmp" resultMap="empResultMap">
        select
        *
        from employee
    </select>

    <select id="selectEmpByCode" parameterType="_int" resultMap="empResultMap">
        select
        emp_id,
        emp_name,
        job_code,
        sal_level
        from
        employee
        where
        emp_id = #{ empId }
    </select>

    <insert id="insertEmp" parameterType="com.kim.section.dto.EmployeeDTO">
        insert into employee (
        emp_id,
        emp_name,
        emp_no,
        job_code,
        salary,
        sal_level

        ) values (
        #{ empId },
        #{ name },
        #{ no },
        #{ jobCode },
        #{ salary },
        #{ salLevel }
        )
    </insert>

    <update id="modifyEmp" parameterType="com.kim.section.dto.EmployeeDTO">
        update employee
        set
        emp_name = #{ name },
        job_code = #{ jobCode },
        sal_level = #{ salLevel }
        where
        emp_id = #{ empId }
    </update>

    <delete id="deleteEmp" parameterType="_int">
        delete
        from employee
        where emp_id = #{ empId }
    </delete>

</mapper>